* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    min-width: 600px;
}

#grid {
    display: inline-grid;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
}

.square {
    width: auto;
    height: auto;
    background-color: grey;
    border: 1px solid #111111;
}

.draw .paints, .draw label {
    display: block;
}

#colorPicker {
    max-height: 20px;
    border: 1px solid black;
}