* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    display: inline-grid;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
}

.square {
    width: auto;
    height: auto;
    background-color: grey;
}

.color  {
    background-color: turquoise;
}